@import url('../../css/player.css');

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ba011a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#mySideClose {
    border-radius: 32%;
    height: 37px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 255px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    margin-top: -46px;
}
#mySideClose a {
    padding: 2px 2px 1px 1px;
    text-decoration: none;
    font-size: 21px;
    color: #ba011a;
    display: block;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#mySideClose a:hover {
    color: #f1f1f1;
}
.sidenav a:hover {
    color: #f1f1f1;
}
#mySideClose .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.small-button {
    padding: 6px;
    padding-top: 2.5px;
    padding-bottom: 4.5px;
    font-size: 10px;
}
.custom-select {
    padding-right: 20px;
}
.dot-play {
    width: 20px;
    height: 20px;
}
.bi-pause-fill::before {
    margin-bottom: 1.5px;
}
.page-link {
    font-size: 10px !important;
}
.page-link:hover {
    color: #fff;
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.paginate_button {
    padding: 0px !important;
}
.page-item.active .page-link {
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}

.dot-prime {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 10px;
}
.fa-crown {
    margin: 3px;
    font-size: 9px;
    color: gold;
}


.lds-dual-ring.hidden {
    display: none;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    padding-top: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

.editSongModal {
    background-color: #f6f6f6;
    width: 75px;
    height: 75px;
    border: 1px solid #879cbb;
    border-radius: 30% !important;
}

@media screen and (max-width: 780px) {
    #albumFilterSearch {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 290px) {
    #mySideClose {
        right: 230px !important;
    }
}
.text-deleted {
    background-color: #ba011a;
    color: white;
}

@media (max-width: 480px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
