.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
#mySideClose {
    border-radius: 32%;
    height: 37px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 123px;
    right: 260px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    margin-top: -46px;
}
#mySideClose a {
    text-decoration: none;
    font-size: 23.5px;
    color: #ba011a;
    display: block;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#mySideClose a:hover {
    color: #f1f1f1;
}
.sidenav a:hover {
    color: #f1f1f1;
}
#mySideClose .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
@media screen and (max-width: 290px) {
    #mySideClose {
        right: 251px !important;
    }
}
.newBuy {
    scrollbar-color: #888888, #ccc;
    scrollbar-width: thin;
}
.whiteBackground {
    background-color: white;
}
#saleReportChart {
    background-color: white;
}
