body {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../image/backgroundImage/background-loginpage-artist.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#signin-text {
    color: black;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.font-szie1 {
    font-size: 19px;
}
.font-wegiht600 {
    font-weight: 600;
}
#welcome-text {
    margin-top: -8px !important;
}

.login-logo {
    margin-bottom: 1.3rem !important;
}
.login-box {
    margin-top: 3.9px !important;
}
.size10 {
    font-size: 13px !important;
    font-weight: 500 !important;
}
.red-button {
    height: 32px !important;
}
.login-card-body {
    padding-bottom: 2px !important;
}
.light-red-button:hover {
    color: #ba011a;
}
