.text-deleted {
    background-color: #ba011a;
    color: white;
}
.dataTables_paginate {
    margin-right: 7px !important;
    margin-bottom: 7px !important;
}
.small-button {
    padding: 6px;
    padding-top: 2.5px;
    padding-bottom: 4.5px;
    font-size: 10px;
    height: 23px;
}
.notificationModalHeader {
    /* height: 44px; */
    background-color: #ffffff;
}
.addNotificationButton {
    height: 30px;
    padding-top: 4px;
    margin-bottom: 2px;
}
#status {
    background-color: white;
    border: 0.5px solid #e1e4e6;
}
#filterSearch {
    width: 100%;
}
.page-link {
    font-size: 10px !important;
}
.page-link:hover {
    color: #fff;
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.paginate_button {
    padding: 0px !important;
}
.page-item.active .page-link {
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.lds-dual-ring.hidden {
    display: none;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    padding-top: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}
