#back {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../image/backgroundImage/background-loginpage-artist.png");
}
.padding-top30 {
    padding-top: 20px;
}

.size13 {
    font-size: 13.5px;
    font-weight: 500 !important;
}
.light-red-button:hover {
    background-color: #f8e5e8;
    border: none;
    color: #ba011a;
}

.logo {
    padding-left: 32.5px !important;
    padding-top: 41px !important;
}
.red-button {
    height: 32px !important;
}
.light-red-button {
    height: 32px !important;
}
.register-column {
    padding-bottom: 105px !important;
}
.main-wrapper {
    height: 100vh;
}
.padding-top110 {
    padding-top: 210px !important;
}
#theBtn {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .firstNameField {
        padding-right: 0px !important;
    }
    .lastNameField {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    .firstNameField {
        padding-right: 0px !important;
    }
    .lastNameField {
        padding-left: 0px !important;
    }
}
