.topBorderRadius{
    border-top-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
    background-color: rgba(0, 0, 0, 0);
}
.clearText{
    font-size: 12px;
    font-style: italic;
}  
#example_length{
    float: right;
    font-size: 12px;
}
.custom-select {
    width: 50px !important; 
}
#example_info{
    float: left;
    color: gray;
    font-size: 12px !important;
}  
.page-link {
font-size: 10px !important;
}
.page-link:hover {
color: #fff;
background-color: #ba011a !important;
border-color: #ba011a !important;
}
.paginate_button {
padding: 0px !important;
}
.page-item.active .page-link {
background-color: #ba011a !important;
border-color: #ba011a !important;
}
.pagination{
float: right;
}
.outer
{
width:100%;
text-align: center;
}
.inner
{
display: inline-block;
}   