.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ba011a !important;
    background-color: white !important;
    border-bottom: 3px solid !important;
    border-radius: 0px !important;
}
.card-header{
    background-color: white;
}
.dataTables_length{
    float:right !important
}
#pendingNotificationTable{
    width: 100% !important;
}
#approvedNotificationTable{
    width: 100% !important;
}
#rejectNotificationTable{
    width: 100% !important;
}
#deletedByArtistNotificationTable{
    width: 100% !important;
}
.page-link {
font-size: 10px !important;
}
.page-link:hover {
    color: #fff;
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.paginate_button {
    padding: 0px !important;
}
.page-item.active .page-link {
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.small-button {
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 4.5px;
    font-size: 12px;
    height: 28px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 50px !important;
}
.card-middle {
    width: 337px;
    align-items: center;
}
@media screen and (max-width: 575px) {
    .card-detail {
        margin: auto;
    }
    .card-middle {
        margin: auto;
    }
}
@media screen and (max-width: 341px) {
    .card-detail {
        width: auto;
    }
    .card-middle {
        width: auto;
    }
}