div.dataTables_wrapper div.dataTables_length select {
    width: 50px !important;
  }

#artistEarningTable_length{
    float: right !important;
}
.card-header{
    background-color: white;
    border-bottom: none !important;
}
#earningSearch{
    height: 30px;
  }

  .greenButton{
    background-color: #31ba01;
    color: white;
  }

  .card-middle {
    width: 337px;
    align-items: center;
}
@media screen and (max-width: 575px) {
    .card-detail {
        margin: auto;
    }
    .card-middle {
        margin: auto;
    }
}
@media screen and (max-width: 341px) {
    .card-detail {
        width: auto;
    }
    .card-middle {
        width: auto;
    }
}
.page-link {
    font-size: 10px !important;
    }
    .page-link:hover {
    color: #fff;
    background-color: #ba011a !important;
    border-color: #ba011a !important;
    }
    .paginate_button {
    padding: 0px !important;
    }
    .page-item.active .page-link {
    background-color: #ba011a !important;
    border-color: #ba011a !important;
    }