#blockArtistTable_length{
    float: right;
    font-size: 12px;
}
.custom-select {
    width: 50px !important; 
}
#blockArtistTable_info{
    float: left;
    color: gray;
    font-size: 12px !important;
}  
.page-link {
font-size: 10px !important;
}
.page-link:hover {
color: #fff;
background-color: #ba011a !important;
border-color: #ba011a !important;
}
.paginate_button {
padding: 0px !important;
}
.page-item.active .page-link {
background-color: #ba011a !important;
border-color: #ba011a !important;
}
.pagination{
float: right;
}
.outer
{
width:100%;
text-align: center;
}
.inner
{
display: inline-block;
}   
.card-header{
    background-color: white !important;
}