.packageCount{
    font-size: 8px;
    padding: 12px;
    background-color:#ba011a;
    color: white;
    font-weight: 600;
}
.products-list .product-title {
    font-weight: 500 !important;
}
.card-header{
    background-color: white;
}
.chartRed{
    color: #ba011a !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ba011a !important;
    background-color: #fff !important;
    border-bottom: 2px solid;
}
hr {
    margin-right: -202px;
    margin-top: -10px;
    width: 197px;
}
#saleReportChart{
    background-color: white !important;
}