.clearText{
    font-size: 12px;
    font-style: italic;
}
.packageCount{
    padding: 12px;
    background-color:#faebed;
    color: #ba011a;
    font-weight: 600;
}  

.card-middle {
    width: 337px;
    align-items: center;
}
@media screen and (max-width: 575px) {
    .card-detail {
        margin: auto;
    }
    .card-middle {
        margin: auto;
    }
}
@media screen and (max-width: 341px) {
    .card-detail {
        width: auto;
    }
    .card-middle {
        width: auto;
    }
}