.line {
    border-left: 4px solid #ba011a !important;
    height: 100%;
  }

  div.dataTables_wrapper div.dataTables_length select {
    width: 50px !important;
  }

  .dataTables_length{
    float: left;
  }
  #purchasedHistorySearch{
    height: 30px;
  }

  .page-link:hover {
    color: #fff;
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
.paginate_button {
    padding: 0px !important;
}
.page-item.active .page-link {
    background-color: #ba011a !important;
    border-color: #ba011a !important;
}
