@import url('../../css/player.css');

[class*="sidebar-dark"]  .user-panel{
    border-bottom: 1px solid #C83448 !important;
}
.dot-edit-delete{
    font-size: 15px;
    width: 32px;
    height: 32px;
    padding-left:8.5px !important;
    padding-top: 6px !important;
}
#albumFilterSearch{
    width: 100%;
}
.music-category-header{
    margin-top: 103px;
}
.music-card-header{
    height: 233px;
}
@media screen and (max-width: 300px) {
    .music-category-header{
        margin-top: 80px !important;
    }
}
@media screen and (max-width: 768px) {
    .music-card-header{
        height: 268px;
    }

}
