.register-column {
    background-color: white;
}
.roundedImage {
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 1px;
    border-color: Black;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ba011a;
    margin-left: 8px;
    margin-bottom: -10px;
}
.lds-dual-ring.hidden {
    display: none;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.dot-play,
.dot-pause {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
    background-color: #212529;
}
.padding-top5 {
    padding-top: 5.5px !important;
}
.border-radius-bootom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.border-radius-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.grey-button {
    height: 22px;
    background-color: #eeeeee;
    border: 1px solid #212529;
    color: #afafaf;
}
.border-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pink-button {
    color: #ba011a;
    background-color: #f1ccd1;
    border: 1px solid #f1ccd1;
}
.border-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#follower-image {
    background-color: #cccecf;
    width: 30px;
    height: 30px;
    border: 1px solid #cccecf;
}
.plus {
    margin-top: -4px;
    margin-right: -1px;
    color: white;
}
.image-div {
    margin-left: -30px;
}
.signup-text {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-size: 20px;
}
.add-card,
.edit-profile {
    border: 1px solid white;
    font-size: 12px;
}
.p3 {
    padding-top: 3px !important;
}
.red-button {
    background-color: #ba011a;
    color: white;
    border-radius: 8%;
}
.orange-button {
    background-color: #ff6250;
    color: white;
    border-radius: 8%;
}
.light-red-button {
    background-color: #f8e5e8;
    border: none;
    color: #ba011a;
}
.border-radius8 {
    border-radius: 8px !important;
    resize: none;
}
.password-radius {
    border-right: none;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}
.red-background {
    background-color: #ba011a;
}
.dot-edit-delete {
    font-size: 8px;
    color: #ba011a;
    height: 17px;
    width: 17px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2px;
    margin-left: 8.5px;
}
.dot-earn {
    height: 7px;
    width: 7px;
    background-color: #ba011a;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8.5px;
}
.content-wrapper {
    background-color: white;
}
.white-color {
    color: white !important;
}

.eye-icon {
    background-color: white;
    border-left: none;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}
#year,
#month {
    border: 1px solid #d1d1d1;
}
.light-grey {
    background-color: #e7e7e7;
    border: 1px solid #d1d1d1;
}
.grey-text {
    color: #727272;
    font-size: 14.5px;
    line-height: 1.1;
}
.light-grey-text {
    color: #727272;
    font-size: 11px;
}
.eye-grey {
    color: grey;
}

.login_card {
    border-radius: 6%;
    width: 25rem;
    height: 2400%;
    margin-left: -19px;
}
#login_card_body {
    border-radius: 6%;
}
.red-background {
    background-color: #ba011a;
}
.red-text {
    color: #ba011a;
}
.earn-box {
    background-color: #7e7e7e;
    color: #eeeeee;
    border-radius: 7.5px;
    /* border-radius: 7%; */
}

.earn-col {
    width: 20% !important;
}
.total-earn-col {
    width: 20% !important;
}
.img-22 {
    width: 26px !important;
    height: 26px !important;
    margin-right: 3px;
}
#header-nav {
    height: 45px !important;
}
.margin-left12 {
    margin-left: -65.5px !important;
    margin-right: 85px !important;
    margin-top: 12px !important;
}
.border-radius8 {
    border-radius: 8px !important;
}
.border-radius8lr {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
.border-radius12 {
    border-radius: 12px !important;
}

.off-white {
    background-color: #f9f9f9;
}
.userAccountName {
    margin-block: auto;
    font-size: 12px;
}
.userAccountNumber {
    font-size: 12px;
    margin-block: auto;
}
.changeLink {
    font-size: 12px;
}
.payout-history-text {
    margin-left: 10px;
}

.month-select {
    font-size: 12px;
    border-radius: 4px;
}
.font-szie12 {
    font-size: 12px;
}
.year-select {
    font-size: 12px;
    border-radius: 4px;
    margin-right: 8px;
}
.timeline-right {
    float: right;
}
.withdrawal-text {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 22px;
    font-weight: 450;
    padding-left: inherit;
}
.black-red-text {
    color: #242424 !important;
}
.balance-text {
    font-size: 13.5px;
}
.in-one-line {
    padding-left: inherit;
    margin-left: initial;
}
.value-balance {
    margin-top: -18.5px !important;
    font-family: "Poppins", sans-serif;
    font-size: 27.5px;
}
.payout-text {
    font-size: 12.5px;
    margin-bottom: -7px;
}
.earn-box-title {
    font-size: 11px;
    padding-top: 12px;
}
.earn-box-total-title {
    font-size: 11px;
    padding-top: 12px;
}
.earn-box-info {
    font-size: 11px;
    padding-top: 3px;
}
.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow-y: scroll;
}
.table-wrapper-scroll-y::-webkit-scrollbar {
    display: none;
}
.font-size10 {
    font-size: 10px !important;
}
.dataTables_length select {
    padding: 3px;
    border-radius: 4px !important;
}
.padding-top0 {
    padding-bottom: 0px !important;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    color: #ba011a !important;
}

.pencil::before {
    margin-top: 4px;
    margin-left: 1px;
}
.account-Create-button {
    height: 28px;
}
.add-bank-text {
    font-size: 13.5px;
}
.edit-bank-text {
    font-size: 13.5px;
}
.add-bank-feild {
    font-size: 12.5px;
}
.rwithdrawal-text {
    font-size: 11.5px;
    color: black;
}
.timeline {
    margin-top: 13px !important;
    padding-top: 8.5px;
}
.timeline > div {
    margin-bottom: 9px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.newBuy {
    cursor: grab;
}
.music-category-card::-webkit-scrollbar {
    width: 3px;
}
.newBuy::-webkit-scrollbar {
    width: 5px;
}

.music-category-card::-webkit-scrollbar,
.newBuy::-webkit-scrollbar-thumb {
    background: #888;
}

.music-category-card::-webkit-scrollbar-thumb {
    background-color: #888;
}
.music-category-card::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.newBuy::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.music-category-card {
    height: 620px;
    overflow: auto;
}
.font-weight500 {
    font-weight: 500;
}

div.background {
    width: 100%;
    height: 69px;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
}
div.back {
    width: 37%;
    height: 100%;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
}
.trans {
    margin-top: 0px;
    border-radius: 6px;
    height: 100%;
    background-color: #ba011a;
    opacity: 0.4;
}
.transbox {
    border-radius: 6px;
    margin-top: 5%;
    height: 100%;
    background-color: #ba011a;
    opacity: 0.4;
}

.transbox p {
    padding-top: 21px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}
#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#image-show {
    background-color: #f6f6f6;
    width: 75px;
    height: 75px;
    border: 1px solid #879cbb;
}

#image-show-detail {
    background-color: #f6f6f6;
    width: 75px;
    height: 75px;
    border: 1px solid #879cbb;
}
#mySideClose {
    border-radius: 32%;
    height: 37px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 123px;
    right: 260px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    margin-top: -46px;
}
#mySideClose a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #ba011a;
    display: block;
    transition: 0.3s;
}
#mySideClose a:hover {
    color: #f1f1f1;
}
#mySideClose .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-width: 1100px) {
    #back {
        height: 120vh;
    }
}
@media screen and (max-width: 1000px) {
    #back {
        height: 50vh;
    }
}

@media (max-height: 511px) {
    .login_card {
        border-radius: 8%;
        width: auto;
        height: auto;
        margin-left: auto;
    }
}
@media (max-width: 319px) {
    .login_card {
        border-radius: 8%;
        width: auto;
        height: auto;
        margin-left: auto;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .login_card {
        border-radius: 8%;
        width: auto;
        height: auto;
        margin-left: auto;
    }
}
@media (min-width: 376px) and (max-width: 400px) {
    .login_card {
        border-radius: 8%;
        width: 22rem;
        height: 24rem;
        margin-left: -5px;
    }
}

@media (min-width: 401px) and (max-width: 419px) {
    .login_card {
        border-radius: 8%;
        width: 22rem;
        height: 24rem;
        margin-left: 7px;
    }
}
@media (min-width: 420px) and (max-width: 578px) {
    .login_card {
        border-radius: 8%;
        width: 22rem;
        height: 24rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 450px) {
    .payout-time::after {
        content: "\a";
        white-space: pre;
    }
    .payout-detail {
        padding-left: 21px;
    }
}
@media screen and (max-width: 300px) {
    .payout-detail::after {
        content: "\a";
        white-space: pre;
    }
    .payout-price {
        padding-left: 21px;
        float: left;
    }
    .dot-left {
        padding-top: 16px;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
@media screen and (max-width: 290px) {
    #mySideClose {
        right: 251px !important;
    }
}

@media screen and (max-width: 1240px) {
    .earn-col {
        width: 20% !important;
    }
    .earn-box-total-title {
        font-size: 12px !important;
    }
    .earn-box {
        height: 75px;
    }
}
@media screen and (max-width: 767px) {
    .earn-col {
        width: 100% !important;
    }

    .img-22 {
        margin-top: -2px;
    }
}
.content-centered{

    margin-left:25%;
    margin-right:25%;

}
.text-orange {
    color: #fdbc46 !important;
}
