.add-album-button {
    height: 32px;
    width: 120px;
}
.text-Rejected {
    background-color: #ff6250;
    color: white;
}
.text-Pending {
    background-color: #ff8534;
    color: white;
}
.text-Approved {
    background-color: #27dc2d;
    color: white;
}
.all-noti-text {
    font-size: 12.5px;
    display: inline !important;
}
.show-data {
    font-size: 12px;
    color: #a3a8ad;
    font-weight: 590;
}
.pull-left {
    float: right !important;
    margin-top: -24px !important;
}
.notification-info {
    display: inline !important;
}
.allnoti {
    display: contents;
}
.dataTables_info {
    display: contents;
    color: #90979d !important;
    font-size: 12.5px !important;
    font-weight: 770;
}
.notification-title-text {
    font-size: 12px;
}
.dataTables_length {
    float: right !important;
    color: #90979d !important;
    font-size: 12.5px !important;
}

.show-detail {
    display: contents;
}
.paginate_button {
    padding: 3px !important;
}
.current:hover {
    background-color: red;
}
.notification-detail-text {
    font-size: 13.5px;
}
.notification-de-text {
    line-height: 100%;
    margin-top: -12px;
    font-size: 14px;
}
#filterSearch {
    width: 25%;
    height: 27.5px;
}
#songfilterSearch {
    width: 100%;
    height: 27.5px;
}
#followfilterSearch {
    width: 100%;
    height: 27.5px;
}
#statfilterSearch {
    width: 100%;
    height: 27.5px;
}
#albumFilterSearch {
    width: 14.2%;
    height: 27.5px;
}
#example {
    width: 100%;
    font-size: 12px;
}
.s-button {
    height: 24.5px;
    width: 24.5px;
    margin-top: 12px;
}
#eye-icon {
    font-size: 10px;
    padding-left: 2.5px;
    padding-top: -1.5px !important;
}
#pencil-icon {
    padding-left: 1px;
}
#trash-icon {
    font-size: 10px;
    padding-left: 2px;
    padding-top: -5.5px !important;
}
#trash-icon:hover {
    color: black;
}
#filterSearch {
    margin-top: 6px;
}
#status {
    margin-top: 6px;
}
table.dataTable.no-footer {
    border-bottom: 0;
}
.add-song-label-text {
    font-size: 12px;
    font-weight: 750;
    color: #2f3236;
}
.add-song-input-text {
    font-size: 12px !important;
    font-weight: 450;
    color: #2f3236;
}
.add-song-span-text {
    font-size: 9.5px;
    font-weight: 550;
    color: #343a40;
}
#songTable {
    border-bottom: aliceblue;
}

.icon-blue {
    color: #627ea7;
    font-weight: 100;
}
.font-weight500 {
    font-weight: 500;
}
.small-space {
    line-height: 90%;
}
.card-middle {
    width: 337px;
    align-items: center;
}
.card-detail {
    width: 562px;
    height: 100px;
    align-items: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ba011a;
    background-color: white;
    border: 3px solid #ba011a;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.add-song-button {
    height: 32px;
    width: 90px;
}
.song-status-div,
.song-div,
.song-search {
    display: contents;
}
.dataTables_length {
    /* margin-left: 23px; */
    margin-top: 1px;
    font-size: 12px !important;
    font-weight: lighter !important;
}
.dataTables_length,
label {
    font-weight: 300 !important;
}
.font-size12 {
    font-size: 12px;
}
.font-size10 {
    font-size: 10px;
}
.border-none {
    border: none !important;
}
#song-thead {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.border-radius5 {
    border-radius: 4.5px;
}
.text-Audio {
    background-color: #5a1c52;
    color: white;
}
table.dataTable.no-footer {
    border-bottom: 0;
}
.dataTables_paginate {
    margin-right: 12px !important;
}
.nav-pills-preorder .nav-link-preorder.active,
.nav-pills-preorder .show > .nav-link-preorder {
    color: white !important;
    background-color: #ba011a;
    font-size: 10px !important;
}
.nav-pills-preorder .nav-link-preorder {
    color: #323639 !important;
    background-color: #d9d9d9;
    font-size: 10px !important;
}
@media screen and (max-width: 1240px) {
    .dataTables_length {
        padding: 1px;
        margin-top: 2px !important;
    }
}
@media screen and (max-width: 431px) {
    #song-status {
        float: left !important;
        margin-top: 4px !important;
    }
    .dataTables_length {
        margin-top: 5px !important;
    }
}
@media screen and (max-width: 448px) {
    .helo {
        border-bottom: none;
    }
}

@media screen and (max-width: 571px) {
    .card-detail {
        width: auto;
    }
}
@media screen and (max-width: 462px) {
    #song-title-text {
        padding-left: 23px !important;
    }
}

@media screen and (max-width: 575px) {
    .card-detail {
        margin: auto;
    }
    .card-middle {
        margin: auto;
    }
}
@media screen and (max-width: 341px) {
    .card-detail {
        width: auto;
    }
    .card-middle {
        width: auto;
    }
}
@media screen and (max-width: 767px) {
    .dataTables_paginate {
        float: right !important;
    }
}
@media screen and (max-width: 820px) {
    #filterSearch {
        width: 150px;
    }
    .dataTables_paginate {
        float: right;
    }
}

.custom-select{
    padding-right: 14px !important;
}