.fa-crown {
    margin: 3px;
    font-size: 9px;
    color: gold;
}

.dot-prime {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 10px;
}

.modal {
    overflow-y: auto;
}

.modal-position-relative {
    position: relative;
}

.modal-position-absolute {
    position: absolute;
}

.border-bar-left {
    border-left: 1px solid #82828245;
}

.border-bar-right {
    border-right: 1px solid #82828245;
}

#musicBar .modal-dialog {
    position: fixed;
    width: 100%;
    bottom: 35px;
    left: 59%;
    transform: translate(-50%, -0%);
}

#musicBar,
#songListModal {
    height: 0% !important;
}

#songListModal .modal-dialog {
    position: fixed;
    width: 80%;
    bottom: 111px;
    right: -6.5%;
}
#songListModal .modal-content {
    box-shadow: 0 0.5rem 1rem rgb(199 199 199 / 50%);
}

.mediaPlayer {
    font-size: 1.5em;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.h-0 {
    height: 0px !important;
}

.top-18px {
    top: 14px;
}

.songList::after {
    display: none;
}

.songList,
.songList:hover,
.songList:focus,
.songList:active {
    text-decoration: none;
    color: inherit;
}

.songListsDropdown.dropdown-menu {
    min-width: 25rem;
    left: -70px !important;
    top: -25px !important;
}

.songListsModal {
    max-height: 270px;
    min-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.songListsModal::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.songListsModal::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.songListsModal::-webkit-scrollbar-thumb {
    background: #dddddd 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 30px;
}

/* Handle on hover */
.songListsModal::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}

.swiper {
    width: 100%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-wrapper{
    min-height: 66px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----------
arrows
--------------*/
.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    transform: translate(0%, -30%);
}
.swiper-button-prev {
    background: url(https://haniwaman.com/cms/wp-content/uploads/2018/05/swiper3.png)
        no-repeat center center / contain;
}
.swiper-button-prev::after {
    content: "";
}

.swiper-button-next {
    background: url(/svg/chevron-circle-right.svg) no-repeat center center /
        contain;
    right: 0px;
}
.swiper-button-next::after {
    content: "";
}

.overlay-wrap {
    position: absolute;
    background: #9f1e1eab;
    width: 100%;
    height: 100%;
}
.overlay-text {
    position: relative;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (min-width: 1200px) {
    #musicBar .modal-xl {
        max-width: 1080px;
    }
}


@media (min-width: 2560px) {
    #songListModal .modal-dialog {
        right: 16% !important;
    }
}



@media (min-width: 1440px) and (max-width: 2550px) {
    #songListModal .modal-dialog {
        right: -3.5% !important;
    }
}

@media (max-width: 1024px) {
    .mediaPlayer {
        font-size: 1.3em;
    }

    .playBtnDiv,
    .volumeBtnDiv,
    .songListDiv {
        margin-top: 3px;
    }
    #waveform {
        padding: 0px 10px;
    }
    .time,
    .totalTime {
        font-size: 12px;
    }
    .songImageModal {
        width: 30px !important;
        height: 30px !important;
    }

    .songArtistName,
    .songName {
        margin-left: 5px !important;
    }
    .songList div p {
        font-size: 11px;
    }

    #songListModal .modal-dialog {
        right: -8% !important;
    }
}

@media (max-width: 768px) {
    #musicBar .modal-dialog {
        position: fixed;
        width: 100%;
        bottom: 35px;
        left: 50%;
        transform: translate(-50%, -0%);
    }
    .modal-dialog {
        max-width: 95%;
    }
    .mediaPlayer {
        font-size: 1.1em;
    }

    .playBtnDiv,
    .volumeBtnDiv,
    .songListDiv {
        margin-top: 5px;
    }
    #waveform {
        padding: 0px 10px;
    }
    .time,
    .totalTime {
        font-size: 12px;
    }
    .songImageModal {
        width: 30px !important;
        height: 30px !important;
    }

    .songArtistName,
    .songName {
        margin-left: 5px !important;
    }
    .songList div p {
        font-size: 10px;
    }

    #songListModal .modal-dialog {
        width: 80% !important;
        bottom: 90px !important;
        right: -36.5% !important;
    }

    #songListModal .modal-content {
        width: 315px !important;
    }

    .songListsModal {
        max-height: 265px;
        min-height: 265px;
    }
}


@media (max-width: 480px) {


    #musicBar .modal-dialog {
        left: 50%;
    }

    #musicBar .modal-body {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }

    .playBtnDiv{
        text-align: center !important;
    }

    .modal-dialog {
        max-width: 95%;
    }
    .mediaPlayer {
        font-size: 1.1em;
    }

    .playBtnDiv,
    .volumeBtnDiv,
    .songListDiv {
        margin-top: 5px;
    }

    #waveform {
        padding: 0px 10px;
    }
    .currentTimeDiv{
        text-align: center !important;
    }

    .time,
    .totalTime {
        font-size: 12px;
    }

    .songImageModal {
        width: 30px !important;
        height: 30px !important;
        margin-left: 3px;
        margin-top: 3px;
    }

    .songArtistName,
    .songName {
        margin-left: 12px !important;
    }

    .songList div p {
        font-size: 10px;
    }


    #musicBar .modal-dialog {
        left: 48% !important;
    }

    .hideInMobile{
        display: none !important;
    }

    .songListIcon{
        margin-top: 0px !important;
    }

    .songImageModal{
        width: 22px !important;
        height: 24px !important;
    }

    .songArtistName {
        white-space: nowrap;
        width: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
    }

    .songName {
        white-space: nowrap;
        width: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
    }

    .songNameInAlbumList {
        white-space: nowrap;
        width: 165px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .songList div{
        margin-left: 0.25rem  !important;
    }


    #songListModal .modal-dialog {
        width: 100% !important;
        bottom: 90px !important;
        right: 0% !important;
    }

    #songListModal .modal-content {
        width: 100% !important;
    }

    .songListsModal {
        max-height: 265px;
        min-height: 265px;
    }
}
